  <div class="col-md-12 bodycol">
            <h3 class="abt abtmargtop">About Tagz</h3></div>
       <div class="col-md-12 bgcol bodycol">
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        
           </p>
        
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        
            </p>
        
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        
             </p>
      
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite 
        
             </p></div>
    
    <!--End of container1-->
    <!--Container2-->
         <div class="col-md-12 bodycol">
            <h3 class="abt teammarg">Our Team</h3></div>
          <div class="col-md-12 bgcol bodycol">
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        
           </p>
        
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        
            </p>
        
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        
             </p>
      
        <p class="g1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite 
        
             </p></div>
<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <ul class="list-inline footer43">
                        <li>
                            <a href="#">Terms and Conditions</a>
                        </li>
                        <li class="footer-menu-divider">|</li>
                        <li>
                            <a href="#about">FAQ</a>
                        </li>
                        <li class="footer-menu-divider">|</li>
                        <li>
                            <a href="#services">Contact</a>
                        </li>
                        
                    </ul>
                  
                </div>
            </div>
        </div>
    </footer>