<div class="col-md-12 bodycol">
            <h3 class="abt abtmargtop">About Tagz</h3></div>
       <div class="col-md-12 bgcol bodycol">
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        
           </p>
        
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        
            </p>
        
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        
             </p>
      
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite 
        
             </p></div>
         <div class="col-md-12 bodycol">
            <h3 class="abt teammarg">Our Team</h3></div>
          <div class="col-md-12 bgcol bodycol">
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        
           </p>
        
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        
            </p>
        
        <p class="p1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        
             </p>
      
        <p class="g1">
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite 
        
             </p></div>
      