<div class="col-md-12 bodycol">
            <h3 class="abt abtmargtop">About Tagz</h3></div>
       <div class="col-md-12 bgcol bodycol">
        <p class="p1">
          KickTagz is chicago based company that was founded in early 2015. The company is specializes in shoe
            fashion. More specifically, KickTagz manufactures unique shoe accessories that fasten to the lace of the
            customers shoe.The company starts with rough sketches and works with premier graphic designers to
            further refine the design and manufacture final product.KickTagz works with stretegic suppliers that 
            allow the flexibility and competitive cost structure,wich allow kick Tagz to offer an affordable price to 
            customers and keep up with demand of its partners.
        
           </p>
        
     </div>
    
    <!--End of container1-->


<!--Footer-->
  